body{
    background-color: skyblue;
}
#box{
    width: 742px;
    margin: 100px auto;
    border: 1px solid #f9f;
}
h1{
    margin:30px auto;
    color: #fff;
    width:fit-content;
}
table{
    width: 700px;
    margin:20px 20px 50px;
    border-collapse: collapse;
}
tr,td{
    border:1px solid #000;
}
a{
    padding:10px 20px;
    text-decoration: none;
    color: blueviolet;
    margin-left: 36px;
}
a:hover{
    color: #fff;
    text-decoration: overline;
}
#btn{
    margin-top: 40px;
    margin-right: 60px;
    background-color: yellow;
    color: green;
}
#btn:hover{
    background-color: green;
    color: yellow;
    cursor: pointer;
}
